<%= decidim_form_for(@form, url: confirm_plan_authors_path(@plan), method: :patch, html: { class: "form form-defaults new_author" }) do |form| %>
  <div class="card">
    <div class="item_show__header">
      <h1 class="item_show__header-title">
        <%= t(".title") %>
      </h1>
    </div>

    <div class="card-section">
      <p><%= t(".description", button_name: t(".buttons.add_authors")) %></p>
      <ul>
        <% @form.authors.each do |author| %>
          <%= form.hidden_field "recipient_id][", id: nil, value: author.id %>
          <li><%= author.name %> (@<%= author.nickname %>)</li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= link_to t(".buttons.cancel"), plan_authors_path(plan), class: "button button__sm button__transparent-secondary" %>
    <%= form.submit t(".buttons.add_authors"), class: "button button__sm button__secondary" %>
  </div>
<% end %>
