<% if show_input? %>
  <div class="field field-checkbox field-terms">
    <div class="row medium-unstack">
      <div class="columns medium-7">
        <label>
          <%= form.check_box(:value, field_options.merge(label_options: { for: nil })) %>
          <%= translated_attribute(section.body) %>
        </label>

        <div class="field-info field-info-with-icon">
          <% if show_info_link? %>
            <div class="field-info field-info-with-icon">
              <%= link_to info_path(section.id), class: "info-modal-link" do %>
                <%= icon "info-line", aria_hidden: true %>
                <span><%= information_label %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= form.hidden_field :value %>
<% end %>
