<div class="field">
  <div class="row field-label-with-info">
    <div class="columns large-8">
      <%= content_tag :div, class: field_info_classes do %>
        <%= plain_label form, "body_#{current_locale}".to_sym %>
        <%= render :tooltip %>
      <% end %>
    </div>
    <% if show_info_link? %>
      <div class="columns large-4">
        <div class="field-info field-info-with-icon">
          <%= link_to info_path(section.id), class: "info-modal-link" do %>
            <%= icon "information", aria_hidden: true %>
            <%= information_label %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="columns large-8">
      <%= attached_proposals_picker_field form, :proposals %>

      <% if help_text.present? %>
        <p class="help-text"><%= help_text %></p>
      <% end %>
    </div>
  </div>
</div>
