<div class="row columns">
  <div class="text-center">
    <h2 class="heading1 page-title"><%= t ".title" %></h2>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="columns medium-6 mediumlarge-8">
    <div class="card bg-primary fg-light" data-equalizer-watch>
      <div class="card__content">
        <h3 class="heading1"><%= t ".subtitle" %></h3>
        <div class="lead">
          <% if translated_attribute(component.settings.plan_listing_intro).present? %>
            <%= decidim_sanitize translated_attribute(component.settings.plan_listing_intro) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if component.current_settings.creation_enabled && component.participatory_space.can_participate?(current_user) %>
    <div class="columns medium-6 mediumlarge-4">
      <div class="card border-primary" data-equalizer-watch>
        <div class="card__content text-center">
          <% if draft_link %>
            <p class="h3"><%= t ".draft_plan_title" %></p>
            <p><%= t ".draft_plan_description" %></p>
            <%= link_to t(".draft_plan_continue"), draft_link, class: "title-action__action button hollow large primary" %>
          <% else %>
            <p class="h3"><%= t(".leave_your_plan") %></p>
            <%= link_to new_plan_path, class: "title-action__action button hollow large primary", data: { "redirect_url" => new_plan_path } do %>
              <%= t(".new_plan") %>
              <%= icon "plus", aria_label: t(".new_plan"), role: "img" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if has_geocoding? %>
  <%= plans_map plans_data_for_map(geocoded_plans) do %>
    <template id="marker-popup">
      <div class="map-info__content">
        <h3>${title}</h3>
        <div id="bodyContent">
          <p>{{html body}}</p>
          <div class="map__date-adress">
            <div class="address card__extra">
              <div class="address__icon">{{html icon}}</div>
              <div class="address__details">
                <span>${address}</span><br>
              </div>
            </div>
          </div>
          <div class="map-info__button">
            <a href="${link}" class="button button--sc">
              <%= t(".view_plan") %>
            </a>
          </div>
        </div>
      </div>
    </template>
    <%= javascript_include_tag "decidim/plans/map" %>
  <% end %>
<% end %>

<div class="row columns">
  <%= render :filters_small_view %>
  <div class="card card--secondary show-for-mediumlarge">
    <div class="plan-filters idea-filters">
      <%= render :filters %>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="title-action">
    <h2 id="plans-count" class="title-action__title section-heading">
      <%= render :count %>
    </h2>
  </div>
</div>
<div class="row">
  <div id="plans" class="columns">
    <%= render :plans %>
  </div>
</div>
<div class="row columns">
  <div class="text-right">
    <%= link_to t(".see_all_withdrawn"), plans_path("filter[state][]" => "withdrawn") %>
  </div>
</div>
