<%= decidim_modal id: "plan-author-add-modal-for-#{plan.id}" do %>
  <%= decidim_form_for(add_author_form, url: form_url, html: { class: "form form-defaults new_author" }) do |f| %>
    <div>
      <h2 id="dialog-title-add-authors" tabindex="-1" data-dialog-title><%= t(".modal_title") %></h2>
        <div class="form__wrapper gap-1 js-multiple-mentions" data-name="recipient_id[]" data-multiple="true">
          <label for="add_plan_authors">
            <%= t(".label") %>
          </label>

          <input id="add_plan_authors" type="text"
              spellcheck="false"
              autocomplete="off"
              placeholder="<%= t(".add_users_placeholder") %>"
              data-noresults="<%= t(".no_results") %>"
              contenteditable="true"
              data-selected="conversation__modal-results"
              aria-expanded="false">

        <ul class="conversation__modal-results"></ul>
      </div>

      <div data-dialog-actions>
        <%= f.submit t(".next"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>
<% end %>
