<div class="picker-header">
  <h1><%= t("plans_picker.choose_plans", scope: "decidim.plans") %></h1>
  <input type="text" name="plans-filter" id="plans_filter" placeholder="<%= t("decidim.admin.filters.search_placeholder.id_string_or_title_cont", collection: plans_collection_name) %>">
</div>
<div class="picker-content picker-list" data-picker-path="<%= picker_path %>" data-picker-more="<%= more_plans? %>">
  <%= render :plans %>
</div>
<div class="picker-footer">
  <div class="buttons button--double">
    <a class="button" data-close=""><%= t("plans_picker.close", scope: "decidim.plans") %></a>
  </div>
</div>

<%= javascript_pack_tag "decidim_plans_admin_plan_picker" %>
