<%= card_wrapper do %>
  <%= render :image %>

  <div class="card__content">
    <h3 class="h4"><%= title %></h3>

    <div class="card__text">
      <div class="card__text--paragraph">
        <%= description %>
      </div>
    </div>
  </div>

  <%= render :tags %>
  <%= render :data %>
<% end %>
