<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= attached_proposals_picker_field form, :proposals %>
    </div>

    <%= javascript_include_tag "decidim/plans/proposal_picker" %>
    <%= stylesheet_link_tag "decidim/plans/proposal_picker" %>

    <div class="row column">
      <% if component_settings.multilingual_answers? %>
        <%= form.translated(
          :text_field,
          :title,
          tabs_id: "title-tabs"
        ) %>
      <% else %>
        <%= form.text_field(
          "title_#{current_locale}".to_sym,
          label: form.label(:title).gsub(/<\/?label[^>]*>/, '')
        ) %>
      <% end %>
    </div>

    <% if @form.categories&.any? %>
      <div class="row column">
        <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
      </div>
    <% end %>

    <% if current_participatory_space.has_subscopes? %>
      <div class="row column">
        <%= scopes_picker_field form, :scope_id %>
      </div>
    <% end %>

    <% @form.contents.each_with_index do |content, idx| %>
      <%= fields_for "contents[]", content do |content_form| %>
        <%= render "content", form: content_form, id: tabs_id_for_content(idx) %>
      <% end %>
    <% end %>

    <% if component_settings.attachments_allowed? %>
      <div class="row column">
        <fieldset>
          <legend><%= t(".attachment_legend") %></legend>
          <%= form.fields_for :attachment, @form.attachment do |form| %>
            <div class="row column">
              <%= form.text_field :title %>
            </div>

            <div class="row column">
              <%= form.upload :file, optional: false %>
            </div>
          <% end %>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "decidim/plans/plans_form" %>
