<%
form_field_options = field_options("body_#{current_locale}".to_sym)
form_field_options.delete(:help_text)
%>

<div class="field with-character-counter">
  <div class="row medium-unstack field-label-with-info">
    <div class="columns medium-11">
      <%= content_tag :div, class: field_label_classes do %>
        <%= plain_label form, "body_#{current_locale}".to_sym %>
        <% if show_tooltip? %>
          <%= render :tooltip %>
        <% elsif help_text.present? %>
          <span class="form-help-tooltip help"><%= help_text %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns medium-11">
      <% if multilingual_answers? %>
        <%= form.translated(
          :text_area,
          :body,
          {
            tabs_id: "field-#{section.id}"
          }.merge(form_field_options).merge(rc_opts)
        ) %>
      <% else %>
        <%= form.text_area(
          "body_#{current_locale}".to_sym,
          form_field_options.merge(rows: 10)
        ) %>
      <% end %>

      <div class="help-text flex--sbc">
        <div class="field-character-counter-info"></div>
        <% if show_info_link? %>
          <%= link_to info_path(section.id), class: "info-modal-link" do %>
            <%= icon "info-line", aria_hidden: true %>
            <span><%= information_label %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="plans-dummy-counter-<%= section.id %>" class="hide" aria-hidden="true"></div>
