<%= plain_label form, :address, show_required: false %>

<div class="address-input">
  <div class="row medium-unstack">
    <div class="columns medium-7 large-8">
      <div class="field" id="<%= address_id %>">
        <%= form.geocoding_field :address, object: model, label: false, class: "input-group-field address-input-address", data: {
          "coordinates-url": geocoding_path,
          "address-url": reverse_geocoding_path
        }, disabled: field_disabled? %>
        <%= link_to t(".reset_field"), "#", class: "reset-input", data: { target: "##{address_id}" } unless field_disabled? %>
        <%= form.hidden_field :latitude, field_options.merge(
          id: "plan_section_answer_#{model.section.id}_latitude",
          class: "address-input-latitude"
        ) %>
        <%= form.hidden_field :longitude, field_options.merge(
          id: "plan_section_answer_#{model.section.id}_longitude",
          class: "address-input-longitude")
        %>
      </div>
    </div>
    <div class="columns medium-5 large-4">
      <%= form.button t(".address_lookup_button"), type: :button, class: "button address-input-lookup", disabled: field_disabled? %>
    </div>
  </div>

  <%= form_map(
    id: "#{address_id}_map",
    class: "plans-map google-map",
    "data-connected-input" => user_signed_in? ? "##{address_id} .address-input-address" : nil
  ) %>
</div>
