<% help_text ||= "" %>

<div class="card multifield-field" id="<%= id %>-field">
  <div class="card-divider multifield-field-divider">
    <h3 class="heading6 card-title multifield-title">
      <span class="card-title-text multifield-title-text">
        <%== t(".attachment_legend") %>
      </span>

      <button class="button tiny hollow remove-field button--title" aria-label="<%= t(".remove") %>">
        <%== icon("trash") %>
      </button>

      <button class="button tiny hollow move-down-field button--title hide-for-small-only" aria-label="<%= t(".down") %>">
        <%== icon("arrow-bottom") %>
      </button>

      <button class="button tiny hollow move-up-field button--title hide-for-small-only" aria-label="<%= t(".up") %>">
        <%== icon("arrow-top") %>
      </button>
    </h3>
  </div>

  <div class="card-section">
    <div class="row column">
      <% if help_text && help_text.length > 0 %>
        <p class="help-text"><%= help_text %></p>
      <% end %>

      <div class="field">
        <% if form.send(:attribute_required?, :title) %>
          <%= form.text_field :title %>
        <% else %>
          <%
          # Force the required tag on the form to indicate the user that the
          # title is required always when the file is given.
          %>
          <%= form.text_field :title, label: form.label_for(:title) + required_tag %>
        <% end %>
      </div>

      <div class="field">
        <%= upload_field form, :file %>
      </div>

      <%= form.hidden_field :id %>
      <%= form.hidden_field :weight, value: form.object.weight || 0, class: "position-input" %>
      <%= form.hidden_field :deleted %>
    </div>
  </div>
</div>
