<%
content = form.object
options = {
  label: content.label,
  help_text: content.help
}

form_field = case content.section.section_type
when 'field_text'
  :text_field
else
  options[:rows] = 4
  :text_area
end
%>

<div class="row column">
  <%= remaining_characters("plan_section_#{content.section.id}", content.section.answer_length) do |rc_opts| %>
    <% if component_settings.multilingual_answers? %>
      <%= form.translated(
        form_field,
        :body,
        {
          tabs_id: id
        }.merge(options).merge(rc_opts)
      ) %>
    <% else %>
      <%= form.public_send(
        form_field,
        "body_#{current_locale}".to_sym,
        options.merge(rc_opts)
      ) %>
    <% end %>
  <% end %>
</div>

<%= form.hidden_field :id %>
<%= form.hidden_field :section_id %>
