<%
content = form.object
data = {}
options = {
  label: content.label,
  help_text: content.help
}

form_field = case content.section.section_type
when 'field_text'
  :text_field
else
  options[:rows] = 4
  :text_area
end

remaining_characters_id = "plan_section_#{content.section.id}_remaining_characters"
remaining_characters = content.section.answer_length

if remaining_characters > 0
  options[:maxlength] = remaining_characters
  options[:data] = {
    remaining_characters: "##{remaining_characters_id}"
  }
end
%>

<div class="row column">
  <% if component_settings.multilingual_answers? %>
    <%= form.translated(
      form_field,
      :body,
      {
        tabs_id: id
      }.merge(options)
    ) %>
  <% else %>
    <%= form.public_send(
      form_field,
      "body_#{current_locale}".to_sym,
      options
    ) %>
  <% end %>

  <% if remaining_characters > 0 %>
    <%= render "decidim/plans/shared/remaining_characters_container", remaining_characters_id: remaining_characters_id %>
  <% end %>
</div>

<%= form.hidden_field :id %>
<%= form.hidden_field :section_id %>
