<%= content_tag :div, class: "attachment-fields", data: {
  file_present: file_is_present?(form.object)
} do %>
  <%= form.hidden_field :id %>
  <%= form.hidden_field :weight, value: form.object.weight || 0, class: "position-input" %>
  <%= form.hidden_field :deleted %>

  <div class="field show-for-small-only">
    <p><%= t(".modal_mobile_notice") %></p>
  </div>

  <div class="field">
    <div class="attachment-file">
      <%= form.upload :file, optional: false, help_i18n_scope: help_i18n_scope %>
    </div>
    <span class="form-error form-error-general" role="alert"><%= t(".attachment_file_required") %></span>
  </div>

  <div class="field">
    <% if form.send(:attribute_required?, :title) %>
      <%= form.text_field :title %>
    <% else %>
      <%
      # Force the required tag on the form to indicate the user that the
      # title is required always when the file is given.
      %>
      <%= form.text_field :title, label: form.label_for(:title) + required_tag %>
    <% end %>
    <span class="form-error form-error-general" role="alert"><%= t(".attachment_title_required") %></span>
  </div>
<% end %>

<% if form.object.errors[:file].present? %>
  <% form.object.errors[:file].each do |message| %>
    <small class="form-error is-visible">
      <%= message %>
    </small>
  <% end %>
<% end %>
