<%= content_tag :div, class: "field attachments-section margin-bottom-2" do %>
  <div class="row medium-unstack field-label-with-info">
    <div class="columns medium-7">
      <%= content_tag :div, class: field_label_classes do %>
        <%= plain_label form, :attachments %>
        <%= render :tooltip %>
      <% end %>
    </div>
    <% if show_info_link? %>
      <div class="columns medium-5">
        <div class="field-info field-info-with-icon">
          <%= link_to info_path(section.id), class: "info-modal-link" do %>
            <%= icon "information-line", aria_hidden: true %>
            <span><%= information_label %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row medium-unstack">
    <div class="columns columns medium-7">
      <% if field_disabled? %>
        <%= t(".disabled") %>
      <% else %>
        <%= form.upload :attachments,
          multiple: multi_attachment?,
          titled: true,
          required: section.mandatory,
          resource_class: "Decidim::Plans::Attachment",
          label: legend_text,
          button_label: multi_attachment? ? t(".add_attachment_multi") : t(".add_attachment"),
          button_edit_label: multi_attachment? ? t(".edit_attachment_multi") : t(".edit_attachment"),
          help_i18n_scope: help_i18n_scope,
          extension_allowlist: extension_allowlist %>
      <% end %>

      <% if help_text.present? %>
        <p class="help-text"><%= help_text %></p>
      <% end %>
    </div>
  </div>
<% end %>
