<div class="multifield-fields attachments-container" data-placeholder-id="<%= blank_attachment.to_param %>" data-multifield-type="<%= multi_attachment? ? "multi" : "single" %>">
  <script type="text/template" class="decidim-template">
    <%= fields_for "#{form.object_name}[attachments][#{blank_attachment.to_param}]", blank_attachment do |attachment_form| %>
      <%= render partial: "decidim/plans/shared/attachment_fields.html", object: attachment_form, locals: { form: attachment_form, id: tabs_id_for_attachment(blank_attachment) } %>
    <% end %>
  </script>

  <fieldset>
    <legend><%= legend_text %></legend>

    <div class="multifield-fields-list attachments-list">
      <% existing_attachments.each do |attachment| %>
        <%= form.fields_for "attachments[]", attachment do |attachment_form| %>
          <%= render partial: "decidim/plans/shared/attachment_fields.html", object: attachment_form, locals: { form: attachment_form, id: tabs_id_for_attachment(attachment) } %>
        <% end %>
      <% end %>
    </div>
  </fieldset>

  <button class="button small hollow add-field add-attachment"><%= t(".add_attachment") %></button>
</div>
