<%= plain_label form, :taggings %>

<div class="row medium-unstack">
  <div class="columns medium-7 large-8">
    <div class="field">
      <%= cell("decidim/tags/form", form, label: false) %>
    </div>
  </div>
  <% if show_info_link? %>
    <div class="columns medium-5 large-4">
      <div class="field-info field-info-with-icon">
        <%= link_to info_path(section.id), class: "info-modal-link" do %>
          <%= icon "information", aria_hidden: true %>
          <%= information_label %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
