<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= title %>
  </h1>
</div>

<div class="plan-sections">
  <template>
    <%= fields_for "sections[#{blank_section.to_param}]", blank_section do |section_form| %>
      <%= render "section", form: section_form, id: tabs_id_for_section(blank_section) %>
    <% end %>
  </template>

  <div class="sections-list">
    <% @form.sections.each do |section| %>
      <%= fields_for "sections[#{section.to_param}]", section do |section_form| %>
        <%= render "section", form: section_form, id: tabs_id_for_section(section) %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <button class="button button__sm button__secondary add-section"><%= t(".add_section") %></button>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_plans_admin_sections" %>
