<% section = form.object %>

<div class="card plan-section" id="<%= id %>-field">
  <div class="card-divider section-divider">
    <h2 class="card-title">
      <span>
        <%== "#{icon("move")} #{t(".section")}" %>
      </span>

      <button class="button small alert hollow move-up-section button--title">
        <%== "#{icon("arrow-top")} #{t(".up")}" %>
      </button>

      <button class="button small alert hollow move-down-section button--title">
        <%== "#{icon("arrow-bottom")} #{t(".down")}" %>
      </button>

      <button class="button small alert hollow remove-section button--title">
        <%= t(".remove") %>
      </button>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.select(
        :section_type,
        options_for_select(section_types, section.section_type)
      ) %>
    </div>
    <div class="row column">
      <%= form.text_field(:handle, label: t(".handle")) %>
    </div>
    <div class="section-type-controls">
      <div class="row column">
        <fieldset>
          <legend><%= t(".visibility") %><legend>
          <div class="grid-x grid-margin-x">
            <div class="cell shrink">
              <%= form.check_box(:visible_form, label: t(".visible_form")) %>
            </div>
            <div class="cell shrink">
              <%= form.check_box(:visible_view, label: t(".visible_view")) %>
            </div>
            <div class="cell shrink">
              <%= form.check_box(:visible_api, label: t(".visible_api")) %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.translated(
          :text_field,
          :body,
          tabs_id: id,
          label: t(".body"),
        ) %>
      </div>

      <div class="row column hide" data-section-type="content">
        <%= form.translated(
            :editor,
            :body_rich,
            tabs_id: id,
            label: t(".body")
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.check_box(
          :mandatory,
          label: t(".mandatory")
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.check_box(
          :searchable,
          label: t(".searchable")
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.translated(
            :text_area,
            :help,
            tabs_id: id,
            label: t(".help"),
            rows: 4
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.translated(
            :text_field,
            :error_text,
            tabs_id: id,
            label: t(".error_text")
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.translated(
            :text_field,
            :information_label,
            tabs_id: id,
            label: t(".information_label")
        ) %>
      </div>

      <div class="row column" data-section-type-inverse="content">
        <%= form.translated(
            :editor,
            :information,
            tabs_id: id,
            label: t(".information")
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_title field_text field_text_multiline">
        <%= form.number_field(
          :answer_length,
          min: 0,
          label: t(".answer_length")
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_scope">
        <%= scopes_picker_field(
          form,
          :scope_parent,
          root: nil
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_area_scope">
        <%= scopes_picker_field(
          form,
          :area_scope_parent,
          root: nil
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_map_point">
        <%= form.number_field(
          :map_center_latitude,
          min: 0,
          label: t(".map_center_latitude")
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_map_point">
        <%= form.number_field(
          :map_center_longitude,
          min: 0,
          label: t(".map_center_longitude")
        ) %>
      </div>

      <div class="row column hide" data-section-type="field_attachments field_image_attachments">
        <%= form.select(
          :attachments_input_type,
          options_for_select(attachment_input_types, section.attachments_input_type),
          label: t(".attachments_input_type")
        ) %>
      </div>
    </div>

    <%= form.hidden_field :id %>
    <%= form.hidden_field :position, value: section.position || 0 %>
    <%= form.hidden_field :deleted %>
  </div>
</div>
