<%= plan_filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search") %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t(".search") %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if component_settings.plan_answering_enabled && current_settings.plan_answering_enabled %>
    <%= form.collection_radio_buttons :state, [["all", t(".all")], ["accepted", t(".accepted")], ["rejected", t(".rejected")], ["evaluating", t(".evaluating")]], :first, :last, legend_title: t(".state") %>
  <% end %>

  <% if linked_classes_for(Decidim::Plans::Plan).any? %>
    <%= form.collection_radio_buttons :related_to, linked_classes_filter_values_for(Decidim::Plans::Plan), :first, :last, legend_title: t(".related_to") %>
  <% end %>

  <% if available_tags.any? %>
    <%= form.collection_check_boxes :tag_id, available_tags, ->(p) { "#{p.id}" }, ->(p) { translated_attribute(p.name) }, legend_title: t(".tag"), disable_parents: false, label: false, prompt: t(".tag_prompt") %>
  <% end %>

  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>
<% end %>
