<div class="collection-sort-controls row small-up-1 medium-up-3 card-grid">
  <div class="column">
    <%= order_selector available_orders, i18n_scope: "decidim.plans.plans.orders" %>
  </div>

  <div class="column">
    <%= render partial: "decidim/shared/results_per_page" %>
  </div>
</div>

<div class="row small-up-1 medium-up-3 card-grid">
  <%= render @plans %>
</div>

<% if @plans.empty? %>
  <div class="row columns">
    <div class="callout secondary">
      <% if params[:filter].present? %>
        <p><%= t(".empty_filters") %></p>
      <% else %>
        <p><%= t(".empty") %></p>
      <% end %>
    </div>
  </div>
<% end %>
<%= decidim_paginate @plans %>
