<div class="row">
  <div class="columns large-12">
    <%= link_to @plan.draft? ? plans_path : plan_path(@plan) do %>
      <%= icon "chevron-left", class: "icon--small", role: "img" %>
      <%= t("decidim.plans.plans.edit.back") %>
    <% end %>
  </div>
</div>

<div class="idea-form-container">
  <div class="row">
    <div class="columns large-8">
      <div class="idea-form-text">
        <h2 class="section-heading"><%= t(".title") %></h2>
      </div>
    </div>
  </div>

  <%= decidim_form_for(@form, html: { class: "plans-form" }) do |form| %>
    <div class="row">
      <div class="columns large-12">
        <%= render partial: "form", object: form %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "decidim/plans/plans_form" %>
<%= stylesheet_link_tag "decidim/plans/plans_form" %>
