<div class="row columns back-link">
  <% if @plan.draft? %>
    <%= link_to plans_path, class: "action-link" do %>
      <%= icon "arrow-left", class: "icon--small", role: "img" %>
      <span><%= t("decidim.plans.plans.new.back") %></span>
    <% end %>
  <% else %>
    <%= link_to plan_path(@plan), class: "action-link" do %>
      <%= icon "arrow-left", class: "icon--small", role: "img" %>
      <span><%= t("decidim.plans.plans.edit.back") %></span>
    <% end %>
  <% end %>
</div>

<div class="container form-container">
  <div class="row medium-unstack content-intro">
    <div class="columns medium-6 mediumlarge-8">
      <div class="resource__main">
        <h1><%= t(".title") %></h1>

        <% if translated_attribute(component_settings.new_plan_help_text).present? %>
          <div class="static__content">
            <%= decidim_sanitize translated_attribute(component_settings.new_plan_help_text) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns medium-6 mediumlarge-4">
      <div class="resource__aside resource__actions">
        <% if translated_attribute(component_settings.materials_text).present? %>
            <div class="actions-panel actions-panel--dynamic">
              <%= decidim_sanitize translated_attribute(component_settings.materials_text) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns mediumlarge-9">
      <div class="resource__main">
        <% unless user_signed_in? %>
          <div class="banner bg-secondary">
            <div class="banner__icon">
              <%= icon("info-line", role: "img", "aria-hidden": true) %>
            </div>
            <div class="banner__content">
              <h2 class="h3"><%= t("decidim.plans.plans.edit.sign_in_before_submitting") %></h2>
              <p><%= t("decidim.plans.plans.edit.sign_in_before_submitting") %></p>
              <%= action_authorized_link_to :create, new_plan_path, class: "button button--icon", data: { "redirect_url" => new_plan_path } do %>
                <%= t("decidim.plans.plans.edit.sign_in") %>
                <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= decidim_form_for(@form, html: { class: "plans-form" }) do |form| %>
          <%= render partial: "form", object: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_plans_plans_form" %>
