<div class="row columns back-link">
  <%= link_to plans_path, class: "action-link" do %>
    <%= icon "arrow-left", class: "icon--small", role: "img" %>
    <span><%= t("decidim.plans.plans.new.back") %></span>
  <% end %>
</div>

<div class="container form-container">
  <div class="row">
    <div class="columns small-12 large-8">
      <div class="resource__main">
        <h1><%= t(".title") %></h1>

        <% if translated_attribute(component_settings.new_plan_help_text).present? %>
          <div class="static__content">
            <%= decidim_sanitize translated_attribute(component_settings.new_plan_help_text) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns large-4">
      <div class="resource__aside resource__actions">
        <% if translated_attribute(component_settings.materials_text).present? %>
            <div class="actions-panel actions-panel--dynamic">
              <%= decidim_sanitize translated_attribute(component_settings.materials_text) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 large-8">
      <div class="resource__main">
        <%= decidim_form_for(@form, html: { class: "plans-form" }) do |form| %>
          <% if !user_signed_in? %>
            <%== render_plan_form(form, @plan).sign_in_box %>
          <% elsif !user_public? %>
            <%== render_plan_form(form, @plan).profile_publicity_box %>
          <% end %>

          <%= render partial: "form", object: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if user_public? %>
    <%= javascript_pack_tag "decidim_plans_plans_form" %>
  <% else %>
    <% content_for :js_content do %>
      <script>
        $(() => {
          const button = document.querySelector("[data-open='publishAccountModal']");
          setTimeout(() => {
            button.click();
          }, 1000);
        });
      </script>
    <% end %>
  <% end %>
<% end %>
