<div class="row columns back-link">
  <%= link_to plans_path, class: "action-link" do %>
    <%= icon "arrow-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <span><%= t("decidim.plans.plans.new.back") %></span>
  <% end %>
</div>

<div class="container form-container">
  <div class="row medium-unstack content-intro">
    <div class="columns medium-6 mediumlarge-8">
      <h1><%= t(".title") %></h1>

      <% if translated_attribute(component_settings.new_plan_help_text).present? %>
        <div class="static__content">
          <%= decidim_sanitize translated_attribute(component_settings.new_plan_help_text) %>
        </div>
      <% end %>
    </div>
    <div class="columns medium-6 mediumlarge-4">
      <div class="resource__aside resource__actions">
        <% if translated_attribute(component_settings.materials_text).present? %>
            <div class="actions-panel actions-panel--dynamic">
              <%= decidim_sanitize translated_attribute(component_settings.materials_text) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns mediumlarge-9">
      <div class="resource__main">
        <%= decidim_form_for(@form, html: { class: "plans-form" }) do |form| %>
          <% if !user_signed_in? %>
            <%== render_plan_form(form, @plan).sign_in_box %>
          <% elsif !user_public? %>
            <%== render_plan_form(form, @plan).profile_publicity_box %>
          <% end %>

          <%= render partial: "form", object: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "exit_modal" %>
<%= javascript_pack_tag "decidim_plans_plans_form" %>

<% if user_signed_in? && !user_public? %>
  <% content_for :js_content do %>
    <script>
      $(() => {
        const button = document.querySelector("[data-open='publishAccountModal']");
        setTimeout(() => {
          button.click();
        }, 1000);
      });
    </script>
  <% end %>
<% end %>
