<% add_decidim_page_title(t("decidim.plans.plan_form.buttons.create")) %>

<div class="row columns margin-bottom-3">
  <div class="banner bg-secondary">
    <div class="banner__icon">
      <%= icon("info-line", role: "img", "aria-hidden": true) %>
    </div>
    <div class="banner__content">
      <p class="h3"><%= t(".not_published") %></p>
      <p><%= t(".not_published_description") %></p>
    </div>
  </div>
</div>

<%= render partial: "plan_preview", locals: { plan: @plan } %>

<div class="row margin-bottom-3">
  <div class="columns small-12 medium-8">
    <div class="resource__main">
      <div class="actions">
        <div class="flex--sbc">
          <%= link_to t(".modify"), edit_plan_path(@plan) %>
          <%= button_to t(".publish"), publish_plan_path(@plan), method: :post, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
