<% add_decidim_page_title(t("decidim.plans.plan_form.buttons.create")) %>

<div class="row columns margin-bottom-3">
  <div class="banner bg-secondary">
    <div class="banner__icon">
      <%= icon("information-line", role: "img", "aria-hidden": true) %>
    </div>
    <div class="banner__content">
      <p class="h3"><%= t(".not_published") %></p>
      <p><%= t(".not_published_description") %></p>
    </div>
  </div>
</div>

<%= render partial: "plan_preview", locals: { plan: @plan } %>
<div class="row margin-bottom-3">
  <div class="columns small-12 medium-8">
    <div class="resource__main">
      <div class="actions">
        <div class="flex--sbc">
          <% if @plan.withdrawable_by?(current_user) %>
            <%= action_authorized_link_to :withdraw, withdraw_plan_path(@plan), method: :put, class: "button button__sm button__transparent-secondary w-full", title: t("withdraw_btn_hint", scope: "decidim.proposals.proposals.show" ), data: { confirm: t("withdraw_confirmation_html", scope: "decidim.proposals.proposals.show" ) } do %>
              <span><%= t("withdraw_proposal", scope: "decidim.proposals.proposals.show") %></span>
            <% end %>
          <% end %>
          <%= link_to t(".modify"), edit_plan_path(@plan) %>
          <%= button_to t(".publish"), publish_plan_path(@plan), method: :post, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
