<div class="row">
  <div class="columns small-centered large-8">
    <div class="callout announcement main-announcement warning cell-announcement text-center">
      <h3><%= t(".not_published") %></h3>
      <p><%= t(".not_published_description") %></p>
    </div>
  </div>
</div>

<%= render partial: "plan_preview", locals: { plan: @plan } %>

<div class="row">
  <div class="columns large-12">
    <div class="p-l">
      <div class="row column flex-center actions">
        <%= link_to t(".modify"), edit_plan_path(@plan), class: "mr-2" %>
        <%= button_to t(".publish"), publish_plan_path(@plan), method: :post, class: "button large button--nomargin" %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
