<div class="field">
  <div class="row medium-unstack field-label-with-info">
    <div class="columns medium-7 large-8">
      <%= content_tag :div, class: field_info_classes do %>
        <%= plain_label form, :value %>
        <%= render :tooltip %>
      <% end %>
    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns medium-7 large-8">
      <% if currency_type? %>
        <div class="input-group">
          <% if currency_unit_after? %>
            <%= form.number_field(:value, field_options) %>
            <span class="input-group-label"><%= Decidim.currency_unit %></span>
          <% else %>
            <span class="input-group-label"><%= Decidim.currency_unit %></span>
            <%= form.number_field(:value, field_options) %>
          <% end %>
        </div>
        <% if help_text.present? %>
          <span class="help-text"><%= help_text %></span>
        <% end %>
      <% else %>
        <%= form.number_field(:value, field_options) %>
      <% end %>
    </div>
    <% if show_info_link? %>
      <div class="columns medium-5 large-4">
        <div class="field-info field-info-with-icon">
          <%= link_to info_path(section.id), class: "info-modal-link" do %>
            <%= icon "information", aria_hidden: true %>
            <%= information_label %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
