<% if current_user.nil? || allowed_to?(:request_access, :plan, plan: plan) %>
  <div class="row">
    <div class="columns">
      <div class="callout primary"><%= t(".info_message").html_safe %></div>
    </div>
  </div>
<% elsif access_request_pending? %>
  <div class="row">
    <div class="columns">
      <div class="callout primary"><%== t(".pending_access_request_message_html") %></div>
    </div>
  </div>
<% end %>

<div class="row column view-header">
  <p class="h5">
    <%= link_to plans_path(request_params) do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
      <%= t(".back") %>
    <% end %>
  </p>

  <h2 class="heading2">
    <%= present(plan).title %>
  </h2>

  <div class="resource-details-row">
    <div class="resource-detail">#<%= plan.id %></div>
    <% if plan.published? %>
      <div class="resource-detail">
        <%= l(plan.published_at.to_date, format: :decidim_short) %>
      </div>
    <% end %>
  </div>

  <%= cell("decidim/plans/coauthorships", plan, has_actions: true, size: 3, context: { current_user: current_user }) %>

  <% if plan.published? && allowed_to?(:edit, :plan, plan: plan) %>
    <button class="title-action__action button small primary hollow" data-open="plan-author-add-modal-for-<%= plan.id %>">
      <%= t(".controls.add_author") %>
    </button>

    <%= cell("decidim/plans/plan_add_authors", plan) %>
  <% end %>

  <%== plan_notification %>
</div>
<div class="row">
  <div class="columns medium-8">
    <div class="section">
      <%== cell("decidim/plans/plan_m", plan, full_badge: true).badge %>
      <%= contents %>
      <%= cell("decidim/plans/tags", plan, context: { extra_classes: ["tags--plan"] }) %>
    </div>
  </div>
  <div class="columns medium-4">
    <% if show_actions? %>
      <div class="actionbox" data-equalizer-watch>
        <%= render :actions %>
      </div>
    <% end %>

    <div class="card text-center">
      <div class="card__content">
        <div>
          <strong class="text-large text-uppercase">
            <%= t("version", scope:"decidim.plans.plans.show", number: "#{plan.versions_count}") %>
          </strong>
          <small class="text-medium">
            <%= t("of_versions", scope:"decidim.plans.plans.show", number: "#{plan.versions_count}") %>
          </small>
        </div>

        <div>
          <span class="text-medium">
            <%= link_to t("see_other_versions", scope:"decidim.plans.plans.show"), plan_versions_path(plan) %>
          </span>
        </div>

        <% if allowed_to?(:edit, :plan, plan: plan) %>
          <%= link_to t("edit", scope:"decidim.plans.plans.show"), edit_plan_path(plan), class: "button secondary hollow expanded button--sc mt-s", id: "plan_edit" %>
        <% elsif plan.editable_by?(current_user) && plan.waiting_for_evaluation? %>
          <span class="button secondary hollow expanded button--sc mt-s disabled" data-open="evaluationModal">
            <%= t("edit", scope:"decidim.plans.plans.show") %>
          </span>
          <p><%= t("plan_waiting_for_evaluation", scope:"decidim.plans.plans.show") %></p>
        <% end %>
        <% if allowed_to?(:close, :plan, plan: plan) && !plan.closed? %>
          <%= link_to t("close", scope:"decidim.plans.plans.show"), close_plan_path(plan), method: :post, class: "button secondary hollow expanded button--sc mt-s", id: "plan_close", data: { confirm: t("close_confirm", scope:"decidim.plans.plans.show") } %>
        <% end %>

        <%= render :access_form %>

        <% if plan.requesters.include? current_user %>
          <button type="button" class="button secondary light expanded button--sc mt-s">
            <%= t("requested_access", scope:"decidim.plans.plans.show") %>
          </button>
        <% end %>
      </div>

      <div class="card__status">
        <ul class="card-data">
          <li class="card-data__item authors_status">
            <span aria-hidden="true">
              <%= with_tooltip t("decidim.plans.models.plan.fields.authors") do %>
                <%= icon("people", class: "icon--small") + " " + "#{plan.versions.group_by(&:whodunnit).size}" %>
              <% end %>
            </span>
            <span class="show-for-sr">
              <%= t("decidim.plans.models.plan.fields.authors_label", count: plan.versions.group_by(&:whodunnit).size) %>
            </span>
          </li>

          <li class="card-data__item versions_status">
            <%= link_to plan_versions_path(plan) do %>
              <span aria-hidden="true">
                <%= with_tooltip t("decidim.plans.models.plan.fields.contributions") do %>
                  <%= icon("pencil", class: "icon--small", "aria-hidden": true) + " " + "#{plan.versions.count}" %>
                <% end %>
              </span>
              <span class="show-for-sr">
                <%= t("decidim.plans.models.plan.fields.contributions_label", count: plan.versions.count) %>
              </span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= collaborator_requests %>
  </div>
</div>
